<% if user_signed_in? %>
<div class="side-bar-header">
  <div class="header-nickname">
    <a><%= current_user.nickname %></a>
  </div>
  <div class="create-tweet">
    <%= link_to "新規投稿", new_tweet_path, class: "post" %>
  </div>
</div>

<div class="user_nav">
  <ul class="user_info">
    <li><%= link_to "マイページ", "/users/#{current_user.id}"%></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
<% else %>
<div class="side-bar-header">
  <div class="header-nickname">
    <%= link_to "ログイン", new_user_session_path, method: :get %>
  </div>
  <div class="create-tweet">
    <%= link_to "新規登録", new_user_registration_path, class: "post" %>
  </div>
</div>

<div class="user_nav">
  <ul class="user_info">
    <li></li>
    <li></li>
  </ul>
</div>
<% end %>