<div class="container">
  <div class="contents">
    <h3>投稿する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= current_user.nickname %>
      <%= form.text_field :image, placeholder: "イメージ" %>
      <%= form.text_area :text, placeholder: "テキスト", rows: "10" %>
      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>