<!DOCTYPE html>
<html>
  <head>
    <title>WorldTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_bar">
        <h1 class="header-title">
          <a href="/">WorldTweet</a>
        </h1>
        <% if user_signed_in? %>
          <div class="user_nav" >
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "新規投稿", new_tweet_path, class: "post" %>
          </div>
        <% else %>
          <div class="user_nav" >
            <%= link_to "ログイン", new_user_session_path, method: :get %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>&copy; WorldTweet 2023.</p>
    </footer>
  </body>
</html>

